---
---

@charset "utf-8";

/*
 Color palette:
 hightlights:
    #6ceded
    #6cb9c9
    #6d85a5
 content:
    #6e5181
    #4f1446
    #2e0a30
    #0d001a
 */

$text: #f1f1f1;
$text-strong: $text;
$text-light: #ffffff;
$text-invert: #0e0e0e;

$link: #ad2f8a;
$link-hover: #4ea9c5;


$scheme-main    : #3d3d3d;
$scheme-main-bis: #333333;
$scheme-main-ter: #45283C;

$scheme-invert    : #9bf56e;
$scheme-invert-bis: #c7c7c7;
$scheme-invert-ter: #d9d9d9;

$background: $scheme-main;

$code: #9e9e9e;
$code-background: $scheme-main-bis;

$body-background-color: $scheme-main;
$footer-background-color: $scheme-main-ter;

$navbar-background-color: #562868;
$navbar-item-hover-background-color: $scheme-main;
$navbar-item-hover-color: $text;
$navbar-item-active-background-color: $scheme-main;

$menu-item-hover-color: $text-invert;
$menu-item-hover-background-color: $scheme-invert-bis;

$menu-item-active-color: $menu-item-hover-color;
$menu-item-active-background-color: $menu-item-hover-background-color;


@import "bulma";


// Collapsible
.collapsible {
   background-color: #00000000;
   color: $text;
   width: 100%;
   cursor: pointer;
   border: none;
   outline: none;
   text-align: left;
   font-size: $size-4;
}

.collapsible:after {
   content: "^";
   color: #606060;
   font-size: $size-3;
   float: right;
   transform: rotate(90deg);

   transition: transform 0.3s, color 0.3s ease-out;
}

.collapsible.is-active:after {
   color: #E30B5C;
   transform: rotate(180deg);
}

.collapsible-content {
   overflow: hidden;
   max-height: 0;
   overflow: hidden;
   transition: max-height 0.2s ease-out;
}


// Side navigation bar
.sidenav {
   // position: sticky;
   overflow-x: hidden;
   overflow-y: auto;
   max-height: 80vh;
   width: 100%;
}

.sidenav-container {
   position: sticky;
   max-height: 80vh;
   top: 0px;
   width: 100%;
}


// For styling
.has-background-scheme-main {
   background-color: $scheme-main;
}

.has-background-scheme-main-bis {
   background-color: $scheme-main-bis;
}

.has-background-scheme-main-ter {
   background-color: $scheme-main-ter;
}

.has-text-normal {
   color: $text;
}

.has-text-normal:hover {
   color: $text
}

.rounded {
   border-radius: 50%;
}

.bullet-point li::before {
   content: '• '
}


.logo {
   width: 1.2em;
   height: 1.2em;
   vertical-align: middle;
}