<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="{{ site.profile-pict }}"><link/>
    <title>{{ site.title }}</title>

    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
    <script src="{{ '/assets/js/collapsible.js' | relative_url }}"></script>
  </head>
  <body>
    <header>
      <nav class="navbar">
        <div class="navbar-brand ml-6 mr-4">
          <a class="navbar-item" style="color: inherit" href="/">
            <img src="{{ site.profile-pict }}" style="width=300px; height=2em;"><img/>
            <div><b>&nbsp;{{ site.title }}</b></div>
          </a>
        </div>

        <div class="navbar-menu">
          <div class="navbar-start">
            <a id="NavAboutMe" class="navbar-item" href="/">About Me</a>
            <a id="NavProjects" class="navbar-item" href="/projects">Projects</a>
            <a id="NavPortfolio" class="navbar-item" href="/portfolio">Portfolio</a>
          </div>
          <script>
            var pathname = window.location.pathname;
            var active;

            if (pathname.startsWith("/projects")) {
              active = document.getElementById("NavProjects");
            } else if (pathname.startsWith("/portfolio")) {
              active = document.getElementById("NavPortfolio");
            } else {
              active = document.getElementById("NavAboutMe");
            }

            active.classList.add("is-active");
          </script>
        </div>
      </nav>
    </header>

    <main>
      <div style="min-height: 80vh;">
        {{ content }}
      </div>
    </main>

    <footer class="footer"> <!-- TODO: Add links to navigate website && small description of who I am -->
      <div class="columns is-gapless">
        <div class="column">
          <div class="columns">
            <div class="column has-text-centered">
              <a class="has-text-normal" href="https://www.github.com/Khusheete">
                <img class="logo" src="{{ '/assets/images/icons/github-mark-white.svg' | relative_url }}"></img>
                Github
              </a>
            </div>
            <div class="column has-text-centered">
              <a class="has-text-normal" href="https://khusheete.itch.io/">
                <img class="logo" src="{{ '/assets/images/icons/itchio-logo-textless-white.svg' | relative_url }}"></img>
                Itch.io
              </a>
            </div>
          </div>
        </div>

        <div class="column has-text-centered">
          <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">
            <img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" />
          </a>
          <br/>
          This website is under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.
        </div>
      </div>
    </footer>
  </body>
</html>
