<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="{{ site.pixel-profile-pict }}"><link/>
    <title>{{ site.title }}</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/grids-responsive-min.css">
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
    <script src="{{ '/assets/js/queries.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/collapsible.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/navbar_burger.js' | relative_url }}"></script>
  </head>
  <body>
    <header>
      <div class="navbar pure-menu pure-menu-horizontal">
        <a class="navbar-brand pure-menu-heading pure-menu-link" href="/">
          <img class="pixelart" src="{{ site.pixel-profile-pict }}" style="vertical-align: middle; width: 2em; height: 2em;"/>
          <b>&nbsp;{{ site.title }}</b>
        </a>
        
        <ul class="navbar-list pure-menu-list">
          <li id="NavAboutMe" class="navbar-item pure-menu-item">
            <a class="navbar-link pure-menu-link" href="/">About Me</a>
          </li><!--
          --><li id="NavProjects"  class="navbar-item pure-menu-item">
            <a class="navbar-link pure-menu-link" href="/projects">Projects</a>
          </li><!--
          --><li id="NavPortfolio" class="navbar-item pure-menu-item" href="/portfolio">
            <a class="navbar-link pure-menu-link" href="/portfolio">Portfolio</a>
          </li>

          <script>
            var pathname = window.location.pathname;
            var active;

            if (pathname.startsWith("/projects")) {
              active = document.getElementById("NavProjects");
            } else if (pathname.startsWith("/portfolio")) {
              active = document.getElementById("NavPortfolio");
            } else {
              active = document.getElementById("NavAboutMe");
            }

            active.classList.add("pure-menu-selected");
          </script>
        </ul>
      </div>
    </header>

    <main>
      <div style="min-height: 80vh;">
        {{ content }}
      </div>
    </main>

    <footer class="footer">
      <div class="pure-g">
        <div class="pure-u-2-3">
          <div class="pure-g">
            <div class="pure-u-1-2">
              <a class="normal-text-link" href="https://www.github.com/Khusheete">
                <img class="logo" src="{{ '/assets/images/icons/github-mark-white.svg' | relative_url }}"></img>
                Github
              </a>
            </div>
            <div class="pure-u-1-2">
              <a class="normal-text-link" href="https://khusheete.itch.io/">
                <img class="logo" src="{{ '/assets/images/icons/itchio-logo-textless-white.svg' | relative_url }}"></img>
                Itch.io
              </a>
            </div>
          </div>
        </div>

        <div class="pure-u-1-3" style="text-align: center;">
          <div class="v-line" style="padding-left: 10px;"/>
          <a style="vertical-align: center; float: left;" rel="license" href="http://creativecommons.org/licenses/by/4.0/">
            <img alt="Creative Commons License" style="border-width: 0;" src="https://i.creativecommons.org/l/by/4.0/88x31.png" />
          </a>
          <span>
            This website is under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.
          </span>
        </div>
      </div>
    </footer>
  </body>
</html>
